.network-monitor {
    position: absolute;
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    background: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.network-info {
    margin-top: 20px;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 0.5px solid #000000;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #bebebe;
}

.ip-info {
    display: flex;
}